* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

nav {
  z-index: 2;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px;
}

nav a {
  color: #23192B;
  color: white;
  text-shadow: 0px 0px 50px #D99098;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  opacity: 0.7;
  margin-bottom: 12px;
  transition: 0.2s;
  cursor: pointer;
}

nav a:hover {
  margin-left: 6px;
}

.hero {
  background:
  linear-gradient(-45deg, rgba(255, 218, 185, 1), rgba(0,0,0,0) 140%),
  linear-gradient(90deg, rgba(200, 112, 137, 1), rgba(0,0,0,0) 110%);
  width: 100%;
  height: 70vh;
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero-text p {
  color: #23192B;
}

.hero-text p:nth-child(1) {
  font-size: 50px;
}

.hero-text p:nth-child(2) {
  font-size: 38px;
  font-weight: 300;
}

.hero-text p:nth-child(3) {
  font-size: 38px;
  font-weight: 200;
}

.projects-container {
  background-color: #23192B;
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-container p {
  font-size: 40px;
  color: #FFE6D0;
  font-weight: 300;
}

.hr-projects {
  width: 55%;
  margin: auto;
  border: 0.5px solid #FFE6D0;
  margin-top: 10px;
  margin-bottom: 50px;
}

.project-wrapper {
  width: 55%;
  margin: auto;
  position: relative;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-wrapper:hover img {
  opacity: 0.07;
}

.project-wrapper:hover .projectinfo-container {
  opacity: 1;
}

.projects-container img {
  width: 100%;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 0px 0px 2px black;
}

.projectinfo-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.5px solid rgba(255, 230, 208, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: 0.3s;
  border-radius: 8px;
}

.projectinfo-container p {
  color: #FFE6D0;
}

.languages-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 22%;
}

.extra-margin {
  margin-top: 30%;
}

.languages-wrapper p{
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.lines:before, .lines:after, .right-line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #FFE6D0;
    margin: auto;
    width: 20px;
    margin: auto 20px;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-container .project-description {
  width: 50%;
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
}

.projects-container .project-title {
  font-size: 26px;
  letter-spacing: 0.3px;
  font-weight: 400;
  margin-left: 15px;
}

.projects-container .project-source {
  font-size: 19px;
  padding: 5px 18px;
  margin: 10px 10px 10px 0px;
  border: 0.5px solid #FFE6D0;
  border-radius: 6px;
  z-index: 1;
  text-decoration: none;
  color: #FFE6D0;
  transition: 0.2s;
}

.project-source:hover {
  background-color: #FFE6D0;
  color: #23192B;
}

.source-wrapper {
  display: flex;
}

.about-me {
  background:
  linear-gradient(-45deg, rgba(255, 218, 185, 1), rgba(0,0,0,0) 140%),
  linear-gradient(90deg, rgba(200, 112, 137, 1), rgba(0,0,0,0) 110%);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 140px;
}

.about-wrapper img {
  border-radius: 50%;
  border: 2px solid #23192B;
  padding: 10px;
  width: 210px;
  transform: rotate(-20deg);
}

.about-text-wrapper {
  max-width: 600px;
}

.about-text-wrapper p {
  text-align: left;
  margin-left: 40px;
  color: #23192B;
}

.about-text-wrapper p:nth-child(1) {
  font-size: 40px;
}

.about-text-wrapper p:nth-child(2) {
  font-size: 34px;
  font-weight: 300;
}

.about-text-wrapper p:nth-child(3) {
  margin-top: 5px;
  font-size: 26px;
  font-weight: 200;
}

.kt-wrapper {
  width: 100%;
  padding: 120px;
  background-color: #23192B;
  color: #FFE6D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-kt {
  font-size: 40px;
  font-weight: 300;
}

.kt-lists {
  display: flex;
  justify-content: center;
}

.kt-hr {
  width: 200px;
  border: 0.5px solid #FFE6D0;
  margin-top: 10px;
  margin-bottom: 34px;
}

.all-kt {
  margin: 60px 50px 0px 50px;
}

.all-kt p {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 300;
}

.kt-lvl {
  font-size: 18px !important;
}

footer {
  background:
  linear-gradient(-45deg, rgba(255, 218, 185, 1), rgba(0,0,0,0) 140%),
  linear-gradient(90deg, rgba(200, 112, 137, 1), rgba(0,0,0,0) 110%);
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-question {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #23192B;
}

.contact-info {
  font-size: 24px;
  font-weight: 300;
}

.contact-info p {
  text-align: left;
  margin-bottom: 13px;
  color: #23192B;
}

.icon-contact-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container svg {
  display: flex;
  flex-direction: column;
  margin: 10.5px;
  margin-right: 12px;
  opacity: 0.7;
}

.social-icons {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  background-color: rgba(35, 25, 43, 0.3);
  margin-top: -78px;
}

.social-icons svg {
  margin: 6px 16px;
  transition: 0.2s;
}

.social-icons svg:hover {
  opacity: 0.8;
  fill: white;
}

.active {
  opacity: 1;
  font-size: 20px;
  transition: 0.2s;
}



@media only screen and (max-width: 1000px) {
  .projects-container {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .projects-container p {
    font-size: 36px;
  }

  .hr-projects {
    width: 75%;
    margin-bottom: 40px;
  }

  .project-wrapper {
    width: 75%;
    margin-bottom: 40px;
  }

  .languages-wrapper {
    margin-top: 20%;
  }

  .extra-margin {
    margin-top: 26%;
  }

  .languages-wrapper p{
    font-size: 16px;
  }

  .projects-container .project-description {
    font-size: 16px;
  }

  .projects-container .project-title {
    font-size: 22px;
  }

  .projects-container .project-source {
    font-size: 18px;
    margin: 10px 10px 8px 0px;
  }

  .about-wrapper {
    padding: 100px 30px;
  }

  .about-wrapper img {
    width: 180px;
  }

  .about-text-wrapper {
    max-width: 500px;
  }

  .about-text-wrapper p:nth-child(1) {
    font-size: 30px;
  }

  .about-text-wrapper p:nth-child(2) {
    font-size: 24px;
  }

  .about-text-wrapper p:nth-child(3) {
    font-size: 20px;
  }

  .kt-wrapper {
    padding: 80px;
  }

  .title-kt {
    font-size: 36px;
  }

  .kt-hr {
    width: 180px;
  }

  .all-kt p {
    font-size: 18px;
  }

  .kt-lvl {
    font-size: 16px !important;
  }

  footer {
    height: 380px;
  }

  .footer-question {
    font-size: 36px;
  }

  .contact-info {
    font-size: 20px;
  }

  .icon-container svg {
    margin: 8px;
  }

  .social-icons {
    margin-top: -77.5px;
  }
}


@media only screen and (max-width: 600px) {
  nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
  }

  nav a {
    color: #23192B;
    color: white;
    text-shadow: 0px 0px 50px #D99098;
    font-weight: 300;
    font-size: 17px;
    text-decoration: none;
    opacity: 0.7;
    margin-bottom: 12px;
    transition: 0.2s;
    cursor: pointer;
  }

  nav a:hover {
    margin-left: 6px;
  }

  /* .hero {
    height: 70vh;
  } */

  .hero-text p:nth-child(1) {
    font-size: 44px;
  }

  .hero-text p:nth-child(2) {
    font-size: 34px;
  }

  .hero-text p:nth-child(3) {
    font-size: 34px;
  }

  .projects-container {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .projects-container p {
    font-size: 30px;
  }

  .hr-projects {
    width: 80%;
    margin: auto;
    border: 0.5px solid #FFE6D0;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .project-wrapper {
    width: 92%;
    margin: auto;
    position: relative;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-wrapper:hover img {
    opacity: 0.07;
  }

  .project-wrapper:hover .projectinfo-container {
    opacity: 1;
  }

  .projects-container img {
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0px 0px 2px black;
  }

  .projectinfo-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5px solid rgba(255, 230, 208, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: 0.3s;
    border-radius: 8px;
  }

  .projectinfo-container p {
    color: #FFE6D0;
  }

  .languages-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 22%;
  }

  .extra-margin {
    margin-top: 30%;
  }

  .languages-wrapper p{
    display: flex;
    flex-direction: row;
    font-size: 18px;
  }

  .lines:before, .lines:after, .right-line:after {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid #FFE6D0;
      margin: auto;
      width: 20px;
      margin: auto 20px;
  }

  .project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .projects-container .project-description {
    width: 50%;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
  }

  .projects-container .project-title {
    font-size: 26px;
    letter-spacing: 0.3px;
    font-weight: 400;
    margin-left: 15px;
  }

  .projects-container .project-source {
    font-size: 19px;
    padding: 5px 18px;
    margin: 10px 10px 10px 0px;
    border: 0.5px solid #FFE6D0;
    border-radius: 6px;
    z-index: 1;
    text-decoration: none;
    color: #FFE6D0;
    transition: 0.2s;
  }

  .project-source:hover {
    background-color: #FFE6D0;
    color: #23192B;
  }

  .source-wrapper {
    display: flex;
  }

  .about-me {
    background:
    linear-gradient(-45deg, rgba(255, 218, 185, 1), rgba(0,0,0,0) 140%),
    linear-gradient(90deg, rgba(200, 112, 137, 1), rgba(0,0,0,0) 110%);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 140px;
  }

  .about-wrapper img {
    border-radius: 50%;
    border: 2px solid #23192B;
    padding: 10px;
    width: 210px;
    transform: rotate(-20deg);
  }

  .about-text-wrapper {
    max-width: 600px;
  }

  .about-text-wrapper p {
    text-align: left;
    margin-left: 40px;
    color: #23192B;
  }

  .about-text-wrapper p:nth-child(1) {
    font-size: 40px;
  }

  .about-text-wrapper p:nth-child(2) {
    font-size: 34px;
    font-weight: 300;
  }

  .about-text-wrapper p:nth-child(3) {
    margin-top: 5px;
    font-size: 26px;
    font-weight: 200;
  }

  .kt-wrapper {
    width: 100%;
    padding: 120px;
    background-color: #23192B;
    color: #FFE6D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title-kt {
    font-size: 40px;
    font-weight: 300;
  }

  .kt-lists {
    display: flex;
    justify-content: center;
  }

  .kt-hr {
    width: 200px;
    border: 0.5px solid #FFE6D0;
    margin-top: 10px;
    margin-bottom: 34px;
  }

  .all-kt {
    margin: 60px 50px 0px 50px;
  }

  .all-kt p {
    font-size: 22px;
    margin-top: 10px;
    font-weight: 300;
  }

  .kt-lvl {
    font-size: 18px !important;
  }

  footer {
    background:
    linear-gradient(-45deg, rgba(255, 218, 185, 1), rgba(0,0,0,0) 140%),
    linear-gradient(90deg, rgba(200, 112, 137, 1), rgba(0,0,0,0) 110%);
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-question {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #23192B;
  }

  .contact-info {
    font-size: 24px;
    font-weight: 300;
  }

  .contact-info p {
    text-align: left;
    margin-bottom: 13px;
    color: #23192B;
  }

  .icon-contact-wrapper {
    display: flex;
    margin-bottom: 50px;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-container svg {
    display: flex;
    flex-direction: column;
    margin: 10.5px;
    margin-right: 12px;
    opacity: 0.7;
  }

  .social-icons {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    background-color: rgba(35, 25, 43, 0.3);
    margin-top: -78px;
  }

  .social-icons svg {
    margin: 6px 16px;
    transition: 0.2s;
  }

  .social-icons svg:hover {
    opacity: 0.8;
    fill: white;
  }

  .active {
    opacity: 1;
    font-size: 20px;
    transition: 0.2s;
  }
}
